.Button {
  // padding: 1rem;
  border: none;
  font-size: 1.8rem;
  text-transform: capitalize;
  cursor: pointer;
  background-color: transparent;

  &.active {
    border-bottom: 1px solid #32f;
  }
}
