.Navigation {
  padding: 4rem 6rem;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    li:not(:last-child) {
      margin-right: 1.6rem;
    }
  }
}
